:root {
    --red: #ED3237;
    --gray-scale-01: #141418;
    --purple-01: #5F03F5;
    --green-01:#07C603;
    --pink-01: #F50377;
    --blue-01: #0044F3;
    --white: #ffffff;
    --gray-scale-03: #707072;
    --green-02: #006132;
    --orange-01: #F25637;
  }